* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 200%;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: pink;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: gold;
    color: black;
    padding: 20px;
    border-radius: 10px;

}

input{
    outline: none;

}

.caixa-pequena{
    display: flex;
    align-items: center;

}

.btn-pesquisa{
    background-color: deeppink;
}

.previsao{
    text-transform: capitalize;
}

button{
    cursor: pointer;
}